[Desktop Entry]
Encoding=UTF-8
Name=Flash
Comment=Flash P2P Cryptocurrency
Comment[fr]=Flash, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Flash, eşten eşe kriptografik sanal para birimi
Exec=flash-qt %u
Terminal=false
Type=Application
Icon=flash128
MimeType=x-scheme-handler/flash;
Categories=Office;Finance;
