[Unit]
Description=Flash's distributed currency daemon
After=network.target

[Service]
User=flashcore
Group=flashcore

Type=forking
PIDFile=/var/lib/flashd/flashd.pid
ExecStart=/usr/bin/flashd -daemon -pid=/var/lib/flashd/flashd.pid \
-conf=/etc/flashcore/flash.conf -datadir=/var/lib/flashd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
